.select-group{
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}
.select-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    border: 1px solid #8692A6;
    padding: 8px;
    border-radius: 4px;
}
.map-select{
    width: 100%;
    border: none;
    font-size: 0.9rem;
   
}